@model CitySpeaks_samle.Models.Contact

@{
    ViewBag.Title = "Написать нам";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row 200%">
    <div class="6u 12u$(medium)">
        <p>Здесь вы можете: задать нам вопрос, откликнуться на вакансию или записаться на бесплатный пробный урок - это хороший способ познакомиться со студией, ее учебными программами и преподавателями. Не нужно верить рекламе, чужому мнению или цене. Проверьте эффективность методом испытаний! Просто заполните эту форму, и мы свяжемся с вами!</p>
        <span class="image main"><img alt="" src="~/Content/contact-main.jpg"></span>
    </div>
    <div class="6u$ 12u$(medium)">
        <h3>Спасибо за Обращение!</h3>
        <h4>Наш менеджер свяжется с Вами!</h4>
    </div>
</div>