@using CitySpeaks_samle.Models
@model List<CitySpeaks_samle.Models.Review>

@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (Review news in Model)
{
    <header>
        <h3>
            @news.Name
        </h3>
    </header>
    <section id="banner" style="padding-top: 1em; padding-bottom: 1em">
            <p>
                    <img style="border-radius:0.7em; width:15%; margin-left:2em" src="@Url.Action("GetImage", "Review",
       new { news.Id })" alt="" align="right" float="left">
                
                    @news.ShortDescription
                   
            </p>
    
    </section>
    <hr style="margin-top: 1em; margin-bottom:1em" class="major" />
}