@model CitySpeaks.Domain.Models.MainPage
@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->

<span class="image main" style="padding-top:2em">
    <img src="@Url.Action("GetMainImage", "MainPage",
                        new { newsId = Model.Id })" alt="" />
</span>
<header>
    <h2>
        @Model.Title
    </h2>
    <p>@Model.Subtitle</p>
</header>
<p> @Html.Raw(Model.Description) </p>

<!-- Section -->
<section>
    <header class="major">
        <h2>Популярные программы</h2>
    </header>
    <div class="posts">
        @*@ViewComponent.Action("GetGridPrograms", "Programs")*@
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Наша команда</h2>
    </header>
    <div class="features">
        <vc:list-of-workers max-priority="2" is-done="false"></vc:list-of-workers>
    </div>
</section>

<section style="width:500px">
    <header class="major">
        <h2>Отзывы</h2>
    </header>
</section>

<vc:list-of-review max-priority="2" is-done="false"></vc:list-of-review>

@section scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                }
            }
        })
    </script>
}
