@using CitySpeaks.Domain.Models
@model List<Review>
<style>

</style>
<div style="display: flex;
        justify-content: center;">
    <div class="owl-container">
        <div class="owl-carousel owl-theme">
            @foreach (Review a in Model)
            {
                <div class="item">
                    <div class="review-image">
                        <img src="@Url.Action("GetImage", "Review",
                            new { a.Id })" class="animated bounceIn full-opacity" alt="Фото">
                    </div>
                        <h3 class="city-name">@a.Name:</h3>
                        <p class="text-testimonial">@a.ShortDescription</p>                    
                </div>
            }
        </div>
    </div>
</div>