@model List<CitySpeaks_samle.Models.News>

@if (Model != null)
{
    foreach (CitySpeaks_samle.Models.News news in Model)
    {
        <div class="mini-posts">
            <article>
                <a href="@Url.Action("Show", "News", new { id = news.NewsId })" class="image">
                    <img src="@Url.Action("GetSmallImage", "News",
                        new { news.NewsId })" alt="" />
                </a>
                <p>@news.ShortDescription</p>
            </article>
        </div>
    }
    <ul class="actions">
        @Html.ActionLink("Еще", "GetNewsList", "Home", null, new { @class = "button" })
    </ul>
}
else
{
    <div class="mini-posts">
        <article>
            Пока нет новостей
        </article>
    </div>
}
