.block-items {
    cursor: default;
    padding-left: 10em;
    width: 100%;
}

.inner-testimonial {
    text-align: center;
    background-color: #fff;
}

    .inner-testimonial > img {
        max-width: 128px;
        margin: 0 auto 15px;
        opacity: 0;
        border-radius: 0.375em;
        -webkit-transition: all 1.3s linear;
        transition: all 1.3s linear;
    }

/*Данные классы используются только в активном 
пункте слайдера, который сейчас виден*/
.owl-item.active .inner-testimonial > img {
    -webkit-transition: all 1.3s linear;
    width: 100%;
    transition: all 1.3s linear;
}

    .owl-item.active .inner-testimonial > img.full-opacity {
        opacity: 1;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
